* {
  box-sizing: border-box;
}
#root {
  text-size-adjust: 100%;
  letter-spacing: normal;
  background-color: white;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
/* input */
.input-field {
  outline: none !important;
}
.input-field:hover {
  border: 1px solid rgb(235, 236, 236);
}

/* button */
.hover-btn {
  border-radius: 25px;
  width: 350;
}
.hover-btn:hover {
  background: #ca4140 !important;
  border-radius: 25px;
}
/* background Image */
.background-image-1 {
  background-image: url(../src/assets/beautiful-vintage-collage-composition.png);
  background-repeat: no-repeat;
  height: 90vh;
  background-size: contain;
  background-position: center;
}
/* fonts */
.Poppins {
  font-family: "Poppins", sans-serif;
}
.Roboto-Slab {
  font-family: "Roboto Slab", serif;
}
